@model TestCRM.Models.UserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Feedback form";
}

<div class="text-center">
    <form asp-controller="UserModels" asp-action="Create">
        @Html.AntiForgeryToken()
        <p>
            <label asp-for="Name">Name</label>
            <input asp-for="Name" type="text" id="name">
            <span asp-validation-for="Name"></span>
        </p>
        <p>
            <label asp-for="SurName">Surname</label>
            <input asp-for="SurName" type="text" id="surname">
            <span asp-validation-for="SurName"></span>
        </p>
        <button type="submit">Send data</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
