@model List<UserModel>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <thead>
            <th>
                Список сотрудников
            </th>
        </thead>
        <tbody>
            
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.SurName)</td>
                </tr>
                }
        </tbody>
    </table>
   
</div>
