@model UserModel
@{
    ViewData["Title"] = "Feedback form result";
}

<div class="text-center">
    <p>
        Ваш ID: @Model.Id
    </p>
    <p>
        Ваше имя: @Model.Name
    </p>
    <p>
        Ваша фамилия: @Model.SurName
    </p>
</div>
